

@media (min-width: 640px) {
    #lavender-grid {
        padding: 10px;
        grid-gap: 10px;
        grid-template-columns: 0.5fr 1fr;

        margin: 0 auto;
    }

    .lavender-panel {
        box-shadow: 2px 2px 4px 2px #000000A0;
    }

    #lavender-nav {
        display: block;
    }
}

@media (min-width: 1024px) {
    #lavender-grid {
        padding: 15px;
        grid-gap: 15px;
        grid-template-columns: 0.5fr 1fr 0.5fr;
    }

    #lavender-sidebar {
        display: block;
    }
}
