
:root {
    font-family: sans-serif;
    --panel-bg: lightgrey;
}

* {
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    overflow: hidden;
}

/* Light is the default */
body[lavender-theme="light"],
body[lavender-theme=""],
body:not([lavender-theme]) {
    background-color: lightblue;
}

/* These are configured and enabled by other code */
.bg-decoration {
    display: none;
    position: absolute;
}

.lavender-panel {
    background-color: var(--panel-bg);
    padding: 10px;
}

/* Switch to main UI when ready */
body:not([lavender-loaded]) #lavender-app {
    display: none;
}
body[lavender-loaded] #lavender-loading {
    display: none;
}

/* Main page layout */

#lavender-loading {
    margin: auto;
}

#lavender-app {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#lavender-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* TODO mobile UI needs toggle buttons for nav / sidebar */
#lavender-grid {
    display: grid;
    grid-template-columns: 1fr;
}

#lavender-nav {
    display: none;
}
#lavender-sidebar {
    display: none;
}

.lavender-logo {
    display: flex;
    align-items: center;

    color: lavender;
    text-shadow: -1px -1px 0 #b09bda, 1px -1px 0 #b09bda, -1px 1px 0 #b09bda, 1px 1px 0 #b09bda;
}
